/* -> CSS Baseline */
:root {
    --vh: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root {
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    overflow: hidden;
}
